# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\house_project\sales\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
